body
{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
    background-color:#F9F7F7;
    color:#112D4E;
    font-family: 'Roboto', sans-serif;
}
.Grid
{   align-self: center;
    display:grid;
    width:600px;
    height: 600px;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    
    padding:20px;
    
    background-color: #DBE2EF
    
}
.Grids
{
    background-color: rgb(255, 255, 255);
    border-color:black;
    border-width: 10px;
    margin:0.5px;
    
    
}

.Hovered
{
    background-color: black;
}

.header
{
    font-size: 40px;
    margin:30px;
}

.newsize
{
    background-color: #DBE2EF;
    color:#112D4E;
    padding:20px;
    font-size: 20px;
    border-color: #3F72AF;
    margin:30px;
    font-family: 'Roboto', sans-serif;
    width:200px;
}

.clear
{
    background-color: #DBE2EF;
    color:#112D4E;
    padding:20px;
    font-size: 20px;
    border-color: #3F72AF;
    margin:30px;
    font-family: 'Roboto', sans-serif;
    width: 200px;
}

.rainbow
{
    background-color: #DBE2EF;
    color:#112D4E;
    padding:20px;
    font-size: 20px;
    border-color: #3F72AF;
    margin:30px;
    font-family: 'Roboto', sans-serif;
    width: 200px;
}